.header {
  max-width: 1110px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main {
  margin: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #101010;
}

.header__item {
  width: 24px;
  height: 24px;
}

.header__item:first-of-type {
  margin: 0 40px;
}

.header__cart {
  position: relative;
}

.header__count {
  margin: 0;
  position: absolute;
  top: 5px;
  right: 190px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: #ffa542;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  padding: 3px;
}