.cards {
  font-family: "Montserrat", sans-serif;
}

.cards__title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  color: #838383;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 30px 30px;
  margin-bottom: 28px;
}